h1{
    text-align: center;
}
div{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
}
@media (max-width: 768px){
    div{
        flex-direction: column;    
        justify-content: center;
    }
}

@media (max-width: 480px){
    div{
        flex-direction: row;

        align-items: center;
    }
}